//color variables
$color-red: #ff0000;
$color-orange: orange;
$color-yellow: yellow;
$color-milk: #eae5e5;
$color-semiwhite: #f3f3f3;
$color-black: #000;
$color-gray: #555;
$color-skyblue: #4fc5ec;
$color-grayorange: rgb(190, 192, 189);

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3rem;
  margin: 0;
  padding: 0;
  background-color: $color-milk;
}
/**Race Filter Css
*/
#race_filter {
  margin-left: auto;
  margin-right: auto;

  .filter_container {
    margin-left: auto;
    margin-right: auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid $color-semiwhite;
      background-color: $color-grayorange;

      li {
        float: left;
        padding: 14px 1px;

        @media screen and (max-width: 665px) {
          width: 100%;
          float: none;
          display: block;
          padding: 0px 0px;
          margin-top: 5px;
          margin-bottom: 5px;
        }

        a {
          display: inline;
          color: $color-black;
          padding: 14px 16px;
          text-decoration: none;
          cursor: pointer;
          text-align: center;
          background-color: $color-milk;

          @media screen and (max-width: 665px) {
            float: none;
            display: block;
            padding: 2px 2px;
          }
          /* Change the link color on hover */
        }
        a:hover {
          background-color: $color-gray;
          color: $color-milk;
        }
        a.active {
          background-color: $color-black;
          color: $color-milk;
        }
        a:hover:not(.active) {
          background-color: $color-gray;
          color: $color-milk;
        }
      }
    }
  }
}
/*  App Stylings */

.ui_container {
  margin-left: auto;
  margin-right: auto;

  .ui_nav_filter {
  }

  .ui_body {
    padding: 1px 16px;
    position: absolute;
    overflow: auto;
    margin-top: 50px;
  }
}

.next_race {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  .next_container {
    border: 1px solid $color-black;
    width: 300px;
    background-color: $color-black;

    .next_top {
      display: block;
      color: $color-milk;
      .first_layer {
        margin-left: 5px;
        margin-right: 5px;
        padding: 8px 0px;
        border-bottom: 1px solid $color-semiwhite;
        .first {
          display: inline;
          .inner_space {
            margin-right: 10px;
            color: $color-skyblue;
          }
        }
        .second {
          display: inline;
          float: right;
        }
      }
      .second_layer {
        display: block;
        margin-left: 5px;
        margin-right: 5px;
        padding: 8px 0px;

        .third {
          display: inline;
          .grayline {
            color: gray;
          }
        }
        .fourth {
          display: inline;
          float: right;
        }
      }
    }
    .next_body {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-color: $color-semiwhite;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          display: block;
          color: $color-black;
          padding: 8px 16px;
          text-decoration: none;
          border-bottom: 0.5px solid $color-gray;

          .odds {
            float: right;
            background-image: linear-gradient(
              to bottom right,
              $color-orange,
              $color-yellow
            );
            width: 50px;
            text-align: center;
          }
        }
      }
    }
  }
}
